<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/customer" (click)="onToggleClose()">
      <mat-icon style="color: white;">account_circle</mat-icon>
      <span style="color: white;">All Customer</span>
    </a>
    <a mat-list-item routerLink="/validate-sim" (click)="onToggleClose()">
      <mat-icon style="color: white;">sim_card</mat-icon>
      <span style="color: white;">Validate Sim</span>
    </a>
    <a mat-list-item routerLink="/validate-cutomer" (click)="onToggleClose()">
      <mat-icon style="color: white;">how_to_reg</mat-icon>
      <span style="color: white;">Validate Customer</span>
    </a>
    <a mat-list-item routerLink="/validate-cutomer-details" (click)="onToggleClose()">
      <mat-icon style="color: white;">update</mat-icon>
      <span style="color: white;">Validate Customer Details</span>
    </a>
    <a mat-list-item routerLink="/validate-id-proof" (click)="onToggleClose()">
        <mat-icon style="color: white;">home</mat-icon>
        <span style="color: white;">Validate ID Proof</span>
      </a>
      <a mat-list-item routerLink="/show-special-offers" (click)="onToggleClose()">
        <mat-icon style="color: white;">check_circle</mat-icon>
        <span style="color: white;">Show Special Customer</span>
      </a>
  </mat-nav-list>