<h1 style="color: #3f51b5;">Validate Sim</h1>
<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" formControlName="simnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['simnumber'].errors }" placeholder="SIM Number"/>
            <div *ngIf="submitted && f['simnumber'].errors" class="invalid-feedback">
                <div *ngIf="f['simnumber'].errors['required']">Sim Number is required</div>
                <div *ngIf="f['simnumber'].errors['pattern']">Only numbers can be enter</div>
                <div *ngIf="f['simnumber'].errors['minlength']">Sim Number must be 13 characters</div>
                <div *ngIf="f['simnumber'].errors['maxlength']">Sim Number must not exceed 13 characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="servicenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['servicenumber'].errors }" placeholder="Service Number"/>
            <div *ngIf="submitted && f['servicenumber'].errors" class="invalid-feedback">
                <div *ngIf="f['servicenumber'].errors['required']">Service Number is required</div>
                <div *ngIf="f['servicenumber'].errors['pattern']">Only numbers can be enter</div>
                <div *ngIf="f['servicenumber'].errors['minlength']">Service Number must be 10 characters</div>
                <div *ngIf="f['servicenumber'].errors['maxlength']">Service Number must not exceed 10 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Validate Sim</button>
          </div>
    </form>
</div>

